@import "../../../common/styles/buttons.scss";

.enrollment-list-54g {
  display: flex;
  position: relative;

  & > .controls {
    position: absolute;
    top: -20px;
    right: 10px;

    & > .primary {
      @include button-primary;
    }
  }

  & > .left-menu {
    flex: 0 0 200px;
    padding: 0 10px 10px 10px;

    & > .enrollment {
      padding: 5px;
      border-radius: 4px;
      cursor: pointer;
      margin-bottom: 5px;

      &.selected, &:hover {
        color: white;
        background: #248AFD;
      }
    }
  }

  & > .main-panel {
    flex: 1 1 auto;
  }
}
