// $font-default: #294661;
// $font-default-light: #546B81;
// $font-default-dark: #204B61;
$font-default: #1F1F1F;
$font-default-light: #6C7383;
$font-default-dark: #010101;

$font-color-light: #919EB0;

$green: #18C96E;
$blue: #2692F5;
$dark-blue: #002CA6;
$hover-blue: #e8f4fe;
$white: #FFFFFF;
$pending-gray: #9caab5;
$red: #DE1313;

$blue-primary: #11A1FD;
$blue-primary-hover: #11A1FD1A;

//$danger: #FF727C;
//$danger: #FF7A59;
$primary: #4B49AC;
$danger: #B00020;
$warning: #ECC30B;
$success: #18C96E;
$info: #93ACE2;
$static: #A3219A;

$tooltip-background: #546B81;
$background-color: #546B81;